<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>サンプルアプリケーション</title>
</head>

<body>
    <h1>ねこ置換マシン</h1>
    <img src="../static/images/cat.jpg" alt="neko" width="200px" >
    <div>
        <!-- textarea -->
        <textarea cols="60" rows="5" size="200px" id="tarea" placeholder="ここのエリアに文章を入れると猫ににゃります。"></textarea>
    </div>

    <!-- button -->
    <button id="btn">置換</button>

    <!-- p -->
    <p id="result">結果表示</p>
    <script src="../static/js/index.js"></script>
</body>

</html>
